<a href="https://colab.research.google.com/github/jylee2930/DB_Basic/blob/main/%EC%9A%B0%EB%A6%AC%EB%8F%99%EB%84%A4%EA%B5%AC%EC%A1%B0_%ED%8C%8C%EC%9D%B4%EC%B0%A8%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import matplotlib.pyplot as plt
import csv

In [ ]:
##남녀 구별없이 10년 단위 동네별 인구 분석
f = open('/content/wonju.csv', encoding = 'cp949')
data = csv.reader(f)
for row in data:
    print(row)

In [ ]:
##원주시 총계 인구수
f = open('/content/wonju.csv', encoding = 'cp949')
data = csv.reader(f)
next(data)
age=[]
for row in data:
     if '강원특별자치도 원주시 (5113000000)' == row[0]:
        for i in row[3:104]:
            age.append(int(i))
print(age)

In [ ]:
plt.plot(age, c= 'g')
plt.title("Total Popularion of Wonju(202506)")
plt.xlabel("Age", fontsize = 19)
plt.ylabel("Numbers", fontsize = 19)
plt.show()

In [ ]:
##행구동 인구
f = open('/content/wonju.csv', encoding = 'cp949')
data = csv.reader(f)
next(data)
hangu = []
for row in data:
     if '강원특별자치도 원주시 행구동(5113065000)' == row[0]:
        for i in row[3:104]:
            hangu.append(int(i))
print(hangu)

In [ ]:
##흥업 인구
f = open('/content/wonju.csv', encoding = 'cp949')
data = csv.reader(f)
next(data)
heungup = []
for row in data:
     if '강원특별자치도 원주시 흥업면(5113037000)' == row[0]:
        for i in row[3:104]:
            heungup.append(int(i))
print(heungup)

In [ ]:
#행구동 흥업 그래프 그리기
plt.plot(hangu, c= 'g', label = 'Hangu')
plt.plot(heungup, c= 'b', label = 'Heungup')
plt.legend()
plt.show

In [ ]:
##원주시 전체 인구 막대 그래프
plt.bar(range(101), age, color = 'b', label = "Wonju_Total")
plt.xlabel("Age")
plt.ylabel("Numbers")
plt.legend()
plt.show()

In [ ]:
plt.barh(range(101), age_10)
plt.show()

In [ ]:
# 원주 남자 인구 통계
f = open('/content/wonju.csv', encoding = 'cp949')
data = csv.reader(f)
next(data)
male=[]
for row in data:
     if '강원특별자치도 원주시 (5113000000)' == row[0]:
        for i in row[106:207]:
            male.append(int(i))
print(male)

# 원주 여자 인구 통계
f = open('/content/wonju.csv', encoding = 'cp949')
data = csv.reader(f)
next(data)
female=[]
for row in data:
     if '강원특별자치도 원주시 (5113000000)' == row[0]:
        for i in row[209:]:
            female.append(int(i))
print(female)

##남녀 구별하여 우리동네 인구 데이터 분석하기

In [ ]:
f_w = open('/content/wonju_age_202310.csv', encoding = 'cp949')
data_w = csv.reader(f_w)

for row in data_w:
    print(row)

In [ ]:
f = open('/content/wonju.csv', encoding = 'cp949')
data = csv.reader(f)
for row in data:
    if '강원특별자치도 원주시 (5113000000)' == row[0]:
        print(row)

In [ ]:
f = open('/content/age_gender_wonju_08.csv', encoding = 'cp949')
data = csv.reader(f)
suk = []
for row in data:
    if '강원도 춘천시 석사동(4211065000)' == row[0]:
        for i in row[3:]:
           suk.append(int(i))
print(suk)

In [ ]:
f = open('/content/age_gender_wonju_08.csv', encoding = 'cp949')
data = csv.reader(f)
huk = []
for row in data:
    if '강원도 춘천시 석사동(4211065000)' == row[0]:
        for i in row[3:]:
           huk.append(int(i))
print(huk)

In [ ]:
plt.plot(age, c= 'g')
plt.xlabel("Age", fontsize = 19)
plt.ylabel("Numbers", fontsize = 19)

###1. 원하는동네 이름 입력받아 시각화하기
   2. 두 동네의 인구분포도 비교하기

In [ ]:
f = open('/content/age_gender_wonju_08.csv', encoding = 'cp949')
data = csv.reader(f)
dong1 = []
for row in data:
    if '강원도 원주시' == row[0]:
        for i in row[3:]:
            dong1.append(int(i))
print(dong1)

In [ ]:
f = open('/content/age_gender_wonju_08.csv', encoding = 'cp949')
data = csv.reader(f)
dong2 = []
for row in data:
    if '강원도 원주시' == row[0]:
        for i in row[3:]:
            dong2.append(-int(i))
print(dong2)

In [ ]:
plt.figure(figsize = (10,6))
plt.barh(range(0,101), dong1, color = 'b')
plt.barh(range(0,101), dong2, color = 'r')
plt.legend()
plt.show()

In [ ]:
np.mean(dong1), np.mean(don2)

In [ ]:
f = open('/content/age_gender_wonju_08.csv', encoding = 'cp949')
data = csv.reader(f)
dong2 = []
for row in data:
    if '강원도 원주시' == row[0]:
        for i in row[3:]:
            dong2.append(int(i))
print(dong2)

In [ ]:
plt.plot(dong1, c= 'g', label = "Dong1")
plt.plot(dong2, c = 'r', label = 'Dong2')
plt.legend()
plt.show()

##막대그래프 그리기

In [ ]:
plt.figure(figsize = (10,6))
plt.bar(range(101), age, color = 'b', label = 'Dong')
plt.legend()
plt.show()

##수평막대그래프 그리기

In [ ]:
plt.figure(figsize = (10,6))
plt.barh(range(101), age, color = 'b', label = 'Dong')
plt.legend()
plt.show()

##남녀 구별하여 비교 그래프 그려보기

In [ ]:
f_w = open('/content/pop_wonju_gender_202403.csv', encoding = 'cp949')
data_w = csv.reader(f_w)

male_w = [] ##원주 남자
female_w = [] ## 원주 여자
#name= input('동네 이름 입력')
for row in data_w:
    if "강원특별자치도 강원특별자치도 원주시 (5113000000)" in row[0]:
        for i in range(3,104):
            male_w.append(-int(row[i]))
            female_w.append(int(row[i+103]))
print('원주 : 연령별 남자 =', male_w)
print('원주 : 연령별 여자 = ', female_w)

In [ ]:
f_c = open('/content/chuncheon_age_202310.csv', encoding = 'cp949')
data_c = csv.reader(f_c)

male_c = [] ##춘천 남자
female_c = [] ## 춘천 여자
#name= input('동네 이름 입력')
for row in data_c:
    if "강원특별자치도 강원특별자치도 춘천시 (5111000000)" in row[0]:
        for i in range(3,104):
            male_c.append(-int(row[i]))
            female_c.append(int(row[i+103]))
print('춘천 : 연령별 남자 =', male_c)
print('춘천 : 연령별 여자 = ', female_c)

In [ ]:
plt.figure(figsize = (10,6))
plt.barh(range(0,101), male_w, color = 'b', label = 'Male in Wonju')
plt.barh(range(0,101), female_w, color = 'r', label='Female in Wonju')
plt.xlabel("Gender")
plt.ylabel("Age")
plt.legend()
plt.show()

In [ ]:
##남년인구 파이차트
f_w = open('/content/Wonju_gender_202310.csv', encoding = 'cp949')
data_w = csv.reader(f_w)

male_w = [] ##원주 남자
female_w = [] ## 원주 여자
#name= input('동네 이름 입력')
for row in data_w:
    if "강원특별자치도 강원특별자치도 원주시 (5113000000)" in row[0]:
        for i in range(3,104):
            male_w.append(int(row[i]))
            female_w.append(int(row[i+103]))
print('원주 : 연령별 남자 =', male_w)
print('원주 : 연령별 여자 = ', female_w)

In [ ]:
m_w=sum(male_w)
f_w=sum(female_w)

In [ ]:
print(m_w, f_w)

In [ ]:
list = [m_w, f_w]
labels = ['Man', 'Woman']

In [ ]:
# 필요 라이브러리 불러오기
import matplotlib.font_manager as fm
import os
import matplotlib.pyplot as plt

# apt-get : 패키지 설치 명령어
# -qq : 에러외의 메세지 숨기는 옵션키
!apt-get -qq install fonts-nanum


fe = fm.FontEntry(
    fname=r'/usr/share/fonts/truetype/nanum/NanumGothic.ttf', # ttf 파일이 저장되어 있는 경로
    name='NanumGothic')                        # 이 폰트의 원하는 이름 설정
fm.fontManager.ttflist.insert(0, fe)              # Matplotlib에 폰트 추가
plt.rcParams.update({'font.size': 18, 'font.family': 'NanumGothic'}) # 폰트 설정

In [ ]:
import matplotlib.pyplot as plt

plt.axis('equal')
plt.pie(list, labels = ['Man', 'Woman'], autopct = '%.1f%%', startangle = 90)
plt.title('Man and Woman Ratio')
plt.show()

In [ ]:
plt.scatter(male_w,female_w)
plt.xlabel("Man")
plt.ylabel("Woman")
plt.show()

In [ ]:
plt.scatter(male_w,female_w, c=range(101), cmap = 'jet')
plt.colorbar()
plt.plot(range(max(male_w)), range(max(male_w)), 'r')
plt.show()

In [ ]:
plt.plot(female_w, c= 'g', label = 'Female_Wonju')
plt.plot(female_c, c= 'b', label = 'Female_Chuncheon')
plt.xlabel("Female 0~100", fontsize = 19)
plt.ylabel("Numbers", fontsize = 19)
plt.legend()
plt.show()

In [ ]:
fontprop = fm.FontProperties(fname ="C:/Windows/Fonts/H2GTRM.TTF" )
plt.rcParams['font.Family'] = 'Malgun Gothic'

In [ ]:
f2 = open('/content/age_gender_wonju_08.csv', encoding = 'cp949')
data2 = csv.reader(f2)

m = []
w = []
#name= input('동네 이름 입력')
for row in data2:
    if "강원도 원주시 (4213000000)" in row[0]:
        for i in range(3, 104):
            m.append(-int(row[i]))
            w.append(int(row[i+103]))

In [ ]:
plt.figure(figsize = (10,6))
plt.barh(range(0,101), m, color = 'b', label = 'male')
plt.barh(range(0,101), w, color = 'r', label = 'female')
plt.legend()
plt.show()

In [ ]:
name

###다양한 파이차트 그리기

In [ ]:
plt.pie([20,10, 20,20])
plt.show()

In [ ]:
f2 = open('/content/age_gender_wonju_08.csv', encoding = 'cp949')
data2 = csv.reader(f2)

m = []
w = []
#name= input('동네 이름 입력')
for row in data2:
    if "강원도 원주시 (4213000000)" in row[0]:
        for i in range(3, 104):
            m.append(int(row[i]))
            w.append(int(row[i+103]))

In [ ]:
sw = sum(w)
sw

In [ ]:
sm = sum(m)
sm

In [ ]:
list = [sm, sw]
labels = ['Man', 'Woman']

In [ ]:
import matplotlib.pyplot as plt

plt.axis('equal')
plt.pie(list, labels = ['Man', 'Woman'], autopct = '%.1f%%', startangle = 90)
plt.title('Ratio')
plt.show()

#####남녀 성별 차이 그래프 그리기

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize = (10,6))
plt.plot(m, color = 'b', label = 'Male')
plt.plot(w, color = 'r', label = 'Female')
plt.legend()
plt.show()

##남녀 인구차이 그래프 그리기

In [ ]:
f_w = open('/content/Wonju_gender_202310.csv', encoding='cp949')
data_w = csv.reader(f_w)

dif_w = []
#name= input('동네 이름 입력')
for row in data_w:
    if "강원특별자치도 강원특별자치도 원주시 (5113000000)" in row[0]:
        for i in range(3, 104):
            dif_w.append(int(row[i])-int(row[i+103])) ##남-여
        break

In [ ]:
print(dif_w)

In [ ]:
plt.bar(range(0,101), dif_w, color = 'b', label='male-female')
plt.show()

###산점도로 표시하기

In [ ]:
f = open('/content/age_gender_wonju_08.csv', encoding = 'cp949')
data = csv.reader(f)

m = []
w = []
#name= input('동네 이름 입력')
for row in data:
    if "강원도 원주시 (4213000000)" in row[0]:
        for i in range(3, 104):
            m.append(int(row[i]))
            w.append(int(row[i+103]))

In [ ]:
plt.scatter(m,w)
plt.xtitle("남성 인구수")
plt.ytitle("여성 인구수")
plt.show()

##추세선 그리기

In [ ]:
plt.scatter(m,w, c=range(101), alpha = 0.7, cmap = 'jet')
plt.colorbar()
plt.plot(range(max(m)),range(max(m)),'b')
plt.show()

In [ ]:
f = open('/content/Wonju_gender_202310.csv', encoding = 'cp949')
data = csv.reader(f)

m = []
w = []
dif = []
#name= input('동네 이름 입력')
for row in data:
    if "강원특별자치도 강원특별자치도 원주시 (5113000000)" in row[0]:
        for i in range(3, 104):
            m.append(int(row[i]))
            w.append(int(row[i+103]))
            dif.append(int(row[i])-int(row[i+103]))

In [ ]:
plt.figure(figsize = (10,6))
plt.bar(range(0,101), dif)
plt.show()

In [ ]:
plt.scatter(m,w, c=range(101), alpha = 0.7, cmap = 'jet')
plt.colorbar()
plt.plot(range(max(m)),range(max(m)),'b')
plt.show()